* {
  padding: 0;
  margin: 0;
}
body {
  position: relative;
  font-family: 'Open Sans', sans-serif;
}
.left {
	width: 90%;
	margin: 20px;
	padding: 20px;
	padding-left: 40px;
}
h3 {
	text-align: center;
	font-size:18px;
	margin-bottom: 10px;
}
body .wrapper {
  width: 100%;
  background: #ffffff;
  position: absolute;
  overflow: hidden;
}
body .wrapper .menu {
  z-index: 9999;
  position: absolute;
  top: 20px;
  left: 10px;
  width: 35px;
  height: 4px;
  background: #000000;
  cursor: pointer;
}
body .wrapper .menu:before, body .wrapper .menu:after {
  display: block;
  position: absolute;
  content: '';
  left: 0;
  height: 4px;
  width: 35px;
  background: #000000;
}
body .wrapper .menu:before {
  top: -8px;
}
body .wrapper .menu:after {
  bottom: -8px;
}
body .wrapper .overlay {
  position: absolute;
  bottom: -99%;
  height: 100%;
  background: #30C4C9;
  left: 0;
  width: 100%;
  transition: all 0.5s ease;
}
body .wrapper .overlay.anim {
  left: 0;
  bottom: 0;
  animation: menu-anim 1.5s 1 ease-out normal;
  width: 25%;
  transition: all 0.5s ease;
}
body .wrapper .overlay.anim.reverse-anim {
  left: 0;
  bottom: 0;
  animation: menu-anim 1.5s 1 ease-out reverse;
  width: 25%;
  transition: all 0.5s ease;
}
body .wrapper .overlay ul {
  width: 100%;
  text-align: center;
  margin-top: 100px;
  padding-left: 0;
  margin-left: -10px;
  font-size: 2em;
  font-weight: 800;
}
body .wrapper .overlay ul li {
  margin: 10px 0;
}
body .wrapper .overlay ul li a {
  text-decoration: none;
  color: white;
  position: relative;
  display: inline-block;
  padding: 10px 0;
  overflow: hidden;
}
body .wrapper .overlay ul li a:after {
  display: block;
  border-radius: 2px;
  content: '';
  left: 0;
  bottom: -10px;
  height: 5px;
  background: #ffffff;
  transform: translateX(-101%);
}
body .wrapper .overlay ul li a:hover {
  text-decoration: none;
}
body .wrapper .overlay ul li a:hover:after {
  animation: border-anim 0.5s 1 ease normal;
  transform: translateX(0);
}
@-webkit-keyframes border-anim {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(0);
  }
}
@-webkit-keyframes menu-anim {
  0% {
    left: 0;
    bottom: -99%;
    width: 100%;
  }
  33% {
    left: -99.5%;
    bottom: -99%;
    width: 100%;
  }
  66% {
    left: -99.5%;
    bottom: 0;
    width: 100%;
  }
  100% {
    bottom: 0;
    left: 0;
    width: 25%;
  }
}